@page
@model AppNetRazor.Pages.Cursos.Index

@{
    ViewData["Title"] = "Lista de cursos";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-info">Lista de cursos</h2>
            </div>
            <div class="col-sm-6">
                <a asp-page="Crear" class="btn btn-primary">Crear Nuevo Curso</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Cursos.Count() > 0)
        {
            <br/><br/>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().Id)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().NombreCurso)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().CantidadClases)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().Precio)</th>
                    <th>@Html.DisplayNameFor(m => m.Cursos.First().FechaCreacion)</th>
                    <th>Acciones</th>
                </tr>
                @foreach (var item in Model.Cursos)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.NombreCurso)</td>
                        <td>@Html.DisplayFor(m => item.CantidadClases)</td>
                        <td>@Html.DisplayFor(m => item.Precio)</td>
                        <td>@Html.DisplayFor(m => item.FechaCreacion)</td>
                        <td>
                            <a asp-route-id="@item.Id" asp-page="Editar" class="btn btn-success btn-sm">Editar</a>
                            <button asp-page-handler="Borrar" asp-route-id="@item.Id" onclick="return confirm('Esta seguro de querer borrar el curso?')" class="btn btn-danger btn-sm">Borrar</button>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No hay cursos disponibles</p>
        }
    </div>
</div>